@charset "UTF-8";
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
#navbar #navbar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
#navbar #navbar-title #home-page-rooter {
  font-family: Mont-Light, sans-serif;
  gap: 0;
  font-size: 1rem;
}
#navbar #navbar-title #home-page-rooter #country-lower {
  font-size: 0.3rem;
  position: relative;
  transform: translateY(-8px);
}
#navbar #search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
#navbar #search-bar #by-search {
  display: flex;
  align-items: center;
  height: 40px;
  width: 500px;
}
#navbar #search-bar #by-search #input-cont {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
#navbar #search-bar #by-search #input-cont #focus-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar #search-bar #by-search #input-cont #focus-search img {
  width: 100%;
}
#navbar #search-bar #by-search #input-cont input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  padding: 0 40px 0 40px;
}
#navbar #search-bar #by-search #input-cont input[type=text]:focus {
  border: 1px solid #23c8ff;
}
#navbar #search-bar #by-search #input-cont #resetButton {
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  pointer-events: none;
}
#navbar #search-bar #by-search #search-button {
  width: 65px;
  height: 100%;
  border-radius: 0 30px 30px 0;
  background-color: rgba(255, 255, 255, 0.1529411765);
  padding: 0 20px;
}
#navbar #search-bar #by-search #search-button img {
  padding: 0;
}
#navbar #tools {
  display: flex;
  align-items: center;
  gap: 10px;
}
#navbar #tools #avatar {
  background-color: transparent;
  border: none;
}
#navbar #tools #avatar img {
  width: 100%;
}
#navbar #tools #sign-in {
  height: 100%;
  padding: 5px 10px;
  border: 1.2px solid #23c8ff;
  border-radius: 40px;
  color: #23c8ff;
}
#navbar #tools #sign-in span {
  color: rgb(226, 226, 226);
  bottom: -15px;
}
#navbar #tools #sign-in img {
  width: 30px;
}

#notification {
  position: relative;
}
#notification #intensity-icon {
  position: absolute;
  background-color: rgb(255, 0, 0);
  font-size: 0.5rem;
  top: -2px;
  right: -2px;
  padding: 2px;
  border-radius: 10px;
  font-weight: 600;
  pointer-events: none;
}

* {
  cursor: default;
  outline: none;
}

.pointer {
  cursor: pointer;
}

html {
  font-family: Hind-Medium, sans-serif;
  background-color: rgb(20, 20, 20);
  color: rgb(226, 226, 226);
  font-size: 20px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button-class {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 0.8rem;
  gap: 5px;
  border: none;
  transition: all 0.1s ease-in;
  cursor: pointer;
  background-color: transparent;
  color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 11px;
}
.button-class:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1529411765);
}
.button-class:active {
  outline: 0.5px solid rgba(255, 255, 255, 0.0784313725);
  background-color: rgba(255, 255, 255, 0.2352941176);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.button-class-bg {
  background-color: rgba(255, 255, 255, 0.1529411765);
}
.button-class-bg:hover {
  background-color: rgba(255, 255, 255, 0.2352941176) !important;
}

input[type=text] {
  background-color: transparent;
  color: rgb(226, 226, 226);
  padding: 0px 20px;
  font-size: 0.6rem;
  font-family: sans-serif !important;
  border: 1px solid rgba(255, 255, 255, 0.1529411765);
  border-radius: 5px;
  cursor: text;
}

img {
  pointer-events: none;
  width: auto;
}

li {
  list-style: none;
}

.custom-hr {
  width: 100%;
  background-color: #fff;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-top: 20px;
}
.custom-hr span {
  font-family: Hind-Bold;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.separator .hr {
  width: 100%;
  height: 0.5px;
  background-color: #fff;
}
.separator .separator-title {
  position: relative;
  display: flex;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
  font-family: Muli-Italic;
  font-size: 0.8rem;
}
.separator .separator-title .title-lower {
  text-transform: lowercase;
  font-size: 0.5rem;
  position: absolute;
  top: -15px;
}

.five-button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.info-element-button {
  position: relative;
}
.info-element-button:hover .info-element {
  opacity: 1;
}

.info-element {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s cubic-bezier(1, 0, 0, 1);
  width: max-content;
}

/* HIND */
@font-face {
  font-family: Hind-Bold;
  src: url(../font/Hind/Hind-Bold.ttf);
}
@font-face {
  font-family: Hind-Medium;
  src: url(../font/Hind/Hind-Medium.ttf);
}
@font-face {
  font-family: Hind-Light;
  src: url(../font/Hind/Hind-Light.ttf);
}
p {
  font-family: Hind-Medium, sans-serif;
}

/* MULI */
@font-face {
  font-family: Muli-Medium;
  src: url(../font/Muli/muli.regular.ttf);
}
@font-face {
  font-family: Muli-Light;
  src: url(../font/Muli/muli.light.ttf);
}
@font-face {
  font-family: Muli-Italic;
  src: url(../font/Muli/muli.light-italic.ttf);
}
h2 {
  font-family: Muli-Medium, sans-serif;
}

/* MONTSERRAT */
@font-face {
  font-family: Mont-Light;
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Mont-Bold;
  src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Mont-Italic;
  src: url(../font/Montserrat/static/Montserrat-BoldItalic.ttf);
}
h1 {
  font-family: Mont-Bold, sans-serif;
}

/* MEDİA QERYS */
@media (min-width: 575.98px) {
  html {
    font-size: 22px;
  }
  .container {
    width: 88%;
  }
}
@media (min-width: 767.98px) {
  html {
    font-size: 23px;
  }
  .container {
    width: 86%;
  }
  #home-page-rooter {
    font-size: 0.8rem !important;
  }
}
@media (min-width: 991.98px) {
  html {
    font-size: 24px;
  }
  .container {
    width: 84%;
  }
}
@media (min-width: 1199.98px) {
  html {
    font-size: 25px;
  }
  .container {
    width: 82%;
  }
}
@media (min-width: 1399.98px) {
  html {
    font-size: 26px;
  }
  .container {
    width: 80%;
  }
}

/*# sourceMappingURL=main.css.map */
