@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #23507c;
  width: 40px;
  height: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-right: 10px;
}

.btn:hover, .btn:focus, .btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webskit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: none;
  width: 40px;
  height: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #23507c;
  border-style: solid;
  border-color: #23507c;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: ease-in-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-right: 10px;
}

.btn2:hover, .btn2:focus, .btn2:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webskit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn3 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: none;
  width: 40px;
  height: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #23507c;
  border: 3px solid transparent;
  border-style: none;
  border-color: #23507c;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-style 0.3s ease-in-out, border-color 0.3s ease-in-out, 0.3s ease-in-out, transform 0.3 ease-in-out, border-color 0.3s ease-in-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform, border-style;
  transition-property: box-shadow, transform, border-style;
}

.btn3:hover, .btn3:focus, .btn3:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webskit-transform: scale(1.1);
  -webkit-animation: 1s;
  animation: 1s;
  transform: scale(1.1);
  border-color: #23507c;
}

.btn3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #23507c; /* Border rengi */
  border-radius: 8px; /* Köşe yuvarlatma */
  opacity: 0; /* Başlangıçta görünmez */
  transition: opacity 0.3s ease-in-out; /* Border rengi geçiş süresi */
  pointer-events: none; /* Fare etkileşimini önler */
}

.btn3:hover::before, .btn3:focus::before, .btn3:active::before {
  opacity: 1; /* Hover, focus ve active durumunda görünür */
}

/*# sourceMappingURL=main.css.map */
