@import "variables";

* {
    cursor: default;
    outline: none;
}

.pointer {
    cursor: pointer;
}

html {
    font-family: Hind-Medium, sans-serif;
    background-color: $dark-bg;
    color: $dark-color;
    font-size: 20px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.button-class {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: .8rem;
    gap: 5px;
    border: none;
    transition: all .1s ease-in;
    cursor: pointer;
    background-color: transparent;
    color: $dark-color;
    border-radius: 5px;
    padding: 11px;

    &:hover {
        opacity: 1;
        background-color: $hover-bg;
    }

    &:active {
        outline: .5px solid #ffffff14;
        background-color: $active-bg;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.button-class-bg {
    background-color: $hover-bg;

    &:hover {
        background-color: $active-bg !important;
    }
}

input[type=text] {
    background-color: transparent;
    color: $dark-color;
    padding: 0px 20px;
    font-size: .6rem;
    font-family: sans-serif !important;
    border: 1px solid $hover-bg;
    border-radius: 5px;
    cursor: text;
}

img {
    pointer-events: none;
    width: auto;
}

li {
    list-style: none;
}

.custom-hr {
    width: 100%;
    background-color: #fff;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 20px;

    span {
        font-family: Hind-Bold;
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    .hr {
        width: 100%;
        height: .5px;
        background-color: #fff;
    }
    .separator-title {
        position: relative;
        display: flex;
        width: auto;
        text-align: center;
        text-transform: uppercase;
        padding: 0 20px;
        font-family: Muli-Italic;
        font-size: .8rem;

        .title-lower {
            text-transform: lowercase;
            font-size: .5rem;
            position: absolute;
            top: -15px;
        }
    }
}

.five-button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.info-element-button {
    position: relative;

    &:hover .info-element {
        opacity: 1;
    }
}

.info-element {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .5rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s cubic-bezier(1,0,0,1);
    width: max-content;
    background-color: $hover-bg;
    padding: 5px 10px;
}
