@import "variables";

.button-bor {
    .just-button {
        border-radius: 0;
    }

    .just-button:first-of-type {
        border-radius: 10px 10px 0 0 !important;
    }

    .just-button:last-child {
        border-radius: 0 0 10px 10px;
    }
}

#left-bar {
    left: 0;
    height: calc(100vh - 11.9vh);
    max-width: 260px;
    overflow: auto;
    padding-bottom: 10px;

    .bar-container {
        width: 85% !important;
        margin: 0 auto;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent; 
        border-radius: 10px; 
    }

    &::-webkit-scrollbar-thumb {
        background: transparent; 
        border-radius: 10px; 

    }

    &::-webkit-scrollbar-thumb:hover {
        background: $hover-bg !important; 
    }

    button {
        img {
            width: 30px;
        }
    }

    .just-active {
        background-color: $hover-bg;
    }

    .just-button {
        display: flex;
        justify-content: space-between !important;
        font-family: Muli-Light;

        .icon {
            width: 30px;
        }

        .text {
            width: 100%;
            overflow: hidden;
            text-align: left;
            padding-left: 15px;
        }

        width: 100%;
        max-height: 40px;
    }

    .custom-hr {
        width: 100%;
        cursor: pointer;

        span {
            cursor: pointer;
        }
    }

    #tools, #you, #my-subscriptions {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
}

#lisance-footer {
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    #buttons-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: 2px solid $hover-bg;
        border-radius: 10px;
        transition: .3s;

        &:hover {
            border-radius: 50px;
        }
    }

    .just-button {
        border-radius: 0;
    }

    .just-button:first-of-type {
        border-radius: 10px 10px 0 0 !important;
    }

    .just-button:last-child {
        border-radius: 0 0 10px 10px;
    }

    .rooter {
        cursor: pointer;
        padding-right: 5px;
        padding-left: 5px;
        width: max-content;
        opacity: .5;
        width: calc(100% - 60%);
        transition: .3s;

        &:hover {
            opacity: 1;
        }

        &:last-child {
            border: none !important;
        }
    }

    #last-child-rooter {
        width: 100% !important;
        margin-top: 10px !important;
    }
}

// MINI
.mini-left-bar {
    width: 110px;

    .just-button {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 100px !important;

        .icon {
            width: 30px;
        }

        .text {
            font-size: 15px;
            width: 100% !important;
            text-align: center !important;
            padding-left: 0px !important;
        }
    }
}

#left-bar:hover {
    &::-webkit-scrollbar-thumb {
        background: $hover-bg; 
    }

    &::-webkit-scrollbar-thumb:active {
        background: $active-bg !important; 
    }
}


// Mozilla
@-moz-document url-prefix() {
    #left-bar {
        scrollbar-width: thin;
        scrollbar-color: #1e202a;
    }
} 