/* MEDİA QERYS */
@media (min-width: 575.98px) { 
    html {
        font-size: 22px;
    }
    .container {
        width: 88%;
    }
}

@media (min-width: 767.98px) { 
    .video-item {
        width: 425px !important;
    }

    html {
        font-size: 23px;
    }
    .container {
        width: 86%;
    }
    #home-page-rooter {
        font-size: .8rem !important;
    }
    
}

@media (min-width: 991.98px) { 
    html {
        font-size: 24px;
    }
    .container {
        width: 84%;
    }
    #content {
        border-radius: 20px 0 0 0 !important;
    }
}

@media (min-width: 1199.98px) { 
    .video-item {
        width: 450px !important;
    }

    html {
        font-size: 25px;
    }
    .container {
        width: 82%;
    }
}

@media (min-width: 1399.98px) { 
    html {
        font-size: 26px;
    }
    .container {
        width: 80%;
    }
}