@import "variables";

.videos-prewiew {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    .video-item {
        width: 450px;
        height: min-content;
        position: relative;

        &:hover {
            .video-description {
                opacity: 1;
                max-height: 50px;
            }

            .prewiew-video {
                opacity: 1 !important;
            }
        }

        .video-link {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            cursor: pointer;
        }

        .video-thumbnail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-height: 250px;
            overflow: hidden;
            position: relative;
            border-radius: 20px;

            .prewiew-video {
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                opacity: 0;
                transition: .6s;
            }

            img {
                width: 100%;
                border-radius: 20px;
            }

            .video-item-tumbnail-time {
                position: absolute;
                right: 5px;
                bottom: 5px;
                font-size: .55rem;
                background-color: $dark2-bg;
                font-family: sans-serif;
                padding: 3px;
                border-radius: 5px;
                pointer-events: none;
            }
        }

        .video-description-cont {
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            left: 0;
            z-index: 3;
        }


        .video-description {
            background-color: $dark-bg;
            max-height: 0px;
            overflow: hidden;
            font-size: .65rem;
            text-align: left;
            position: relative;
            z-index: 3;
            transition: .6s;
            opacity: 0;
            padding: 10px;
            border-radius: 20px;
            cursor: help;

            &:hover {
                max-height: 140px !important;

                .more-button {
                    opacity: 1;
                }
            }

            .more-button {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                z-index: 3;
                padding: 6px 0 !important;
                opacity: 0;
                background-color: $dark-bg;
                border-radius: 0;

                &:hover {
                    background-color: $hover-bg !important;
                    color: #ffffff00;
                }
            }
        }

        .video-prewiew-body {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 6fr;

            .video-channel-logo {
                display: flex;
                justify-content: center;
                align-items: start;
                height: 60px;
                z-index: 2;
                transition: .3s;

                &:hover {
                    opacity: .5;
                }
                
                .video-channel-link {
                    height: 100%;
                    background-color: #fff;
                    border-radius: 50%;

                    .video-channel-logo-img {
                        height: 100%;
                    }
                }
            }

            .video-info {
                display: flex;
                justify-content: left;
                align-items: start;
                flex-direction: column;

                .video-prewiew-title {
                    font-size: .8rem;
                    font-family: Hind-Bold;
                    letter-spacing: 1px;
                    width: 100%;
                    overflow: hidden;
                    text-align: left;
                    margin-left: 10px;
                }

                .title-alt {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;

                    .video-prewiew-channel-name {
                        z-index: 2;
                        cursor: pointer;
                        font-size: .6rem;
                        font-family: Hind-Medium;
                        margin-left: 10px;
                        max-width: 90px;

                        &:hover {
                        }

                        .info-element {
                            border-radius: 5px;
                            gap: 5px;
                            background-color: $dark2-bg !important;
                            z-index: 7;
                            bottom: 0;
                        }
                    }

                    .video-prewiew-more {
                        font-size: .5rem;
                        font-family: Hind-Light;
                        display: flex;
                        gap: 5px;
                    }
                }
            }
        }
    }
}