@import "variables";
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    #navbar-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        #left-bar-button {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        #home-page-rooter {
            padding: 5px 5px;
            gap: 0;

            #country-lower {
                font-size: .3rem;
                position: relative;
                transform: translateY(-8px);
            }
        }
    }
}